<?xml version="1.0"?>

<launch>

  <!--
  Bringup basics for providing controllable robot, tf, and robot model.
  This launch file invokes the newer ROS control-based controller
  -->
  <include file="$(find flor_atlas_bringup)/launch/robot_description.launch" />
  <include file="$(find flor_atlas_bringup)/launch/state_publishers.launch" />
  <include file="$(find vigir_compliant_ros_controller)/launch/start_controller_default.launch" />

</launch>
